* {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    padding: 0;
    margin: 0;
}

header, footer, section {
    margin-left: 5%;
    margin-right: 5%;
}

h4 {
    font-weight: 500;
}

div img {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: #76C27E;
}

.name {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6em;
    line-height: 100%;
}

.half-width {
    width: 50%;
    float: left;
}

.bag-card-footer {
    background-color: white;
    border: 0;
    padding-left: 5%;
}

.bag-image {
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    margin: 5%;
}

.tools {
    width: 50%;
}

.facilities {
    border-radius: 3%;
    box-shadow: 5px 5px 30px rgb(230, 230, 230);
    padding-right: 3%;
    margin: 3%;
}

.price {
    color: #76C27E;
    font-weight: 800;
}

.caption {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
}

a:hover {
    color: #76C27E;
}

@media(max-width:767px) {
    .caption, .center{
        text-align: center;
    }
    article, p{
        font-size: 1.25em;
    }
    h4{
        font-size: 1.75em;
    }
    .btn {
        font-size: 200%;
    }
    .price{
        font-size: 300%;
    }
    .tools{
        width: 25%;
    }
    .facilities{
        padding: 5%;
    }
}